*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Source Code Pro", monospace;
  color: #de0000;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Roboto Mono", monospace;
  font-weight: 400; }

.heading-1 {
  font-weight: 300; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f3f3f3; }
  .heading-4--dark {
    color: #757575; }

.sidebar {
  background-color: #ffffff;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #f3f3f3;
  grid-column: full-start / col-end 6; }

.realtors {
  background-color: #5c5c5c;
  grid-column: col-start 7 / full-end; }

.features {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 6rem; }

.feature__icon {
  fill: #ffffff;
  width: 4.5rem;
  height: 4.5rem; }

.feature__text {
  font-size: 1.7rem; }

.story__pictures {
  background-color: #f3f3f3;
  grid-column: full-start / col-end 4; }

.story__content {
  background-color: #000000;
  grid-column: col-start 5 / full-end; }

.homes {
  background-color: #5c5c5c;
  grid-column: center-start / center-end; }

.gallery {
  background-color: #ffffff;
  grid-column: full-start / full-end; }

.footer {
  background-color: #757575;
  grid-column: full-start / full-end; }
