*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Source Code Pro", monospace;
  color: #c2c2c2;
  font-weight: 300; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] 1fr [center-start] repeat(8, minmax(min-content, 14rem)) [center-end] 1fr [full-end]; }

.sidebar {
  background-color: #de0000;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1; }

.header {
  background-color: #f5f5f5; }

.realtors {
  background-color: #c2c2c2; }

.features {
  background-color: #de0000; }

.story__pictures {
  background-color: #f5f5f5; }

.story__content {
  background-color: #755252; }

.homes {
  background-color: #c2c2c2; }

.gallery {
  background-color: #de0000; }

.footer {
  background-color: #757575; }
